@model WebCrawler.Models.WebsiteRecord
@{
    ViewData["Title"] = "Home Page";
    ViewData["CurrentGrafIndex"] = 0;
} 

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function clearForm() {
            document.getElementById("webRecordForm").reset();
        }
        async function startExecution(id) {
            let response = fetch("/Api/StartNewExecution?recordId=" + id);
        }
    </script>
}
<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#WebRecordForm" aria-expanded="false" aria-controls="WebRecordForm">
    Add Website
</button>
<div class="collapse" id="WebRecordForm">
    <div class="card card-body" style="margin-top: 30px">
        <h3>Use this form to add new website records.</h3>
        <form id="webRecordForm"  method="post" data-ajax-success="clearForm()" data-ajax="true" data-ajax-method="post" data-ajax-mode="after" data-ajax-update="#update">
            <div class="form-group">
                <label asp-for="Url">Page URL:</label>
                <input asp-for="Url" class="form-control" placeholder="https://example.com" id="url" name="Url" required>
                <span class="text-danger field-validation-valid" asp-validation-for="Url"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regex">Boundary Regular Expresion:</label>
                <input asp-for="Regex" class="form-control" id="regex" name="Regex" required>
                <span class="text-danger field-validation-valid" asp-validation-for="Regex" required></span>
            </div>
            <label for="time">Periodicity:</label>
            <div id="time" class="form-group row">
                <div class="col-sm">
                    <small><label for="days">Days</label></small>
                    <input class="form-control" type="number" min="0" max="1000" id="days" asp-for="Days" value="0" name="Days" required>
                </div>
                <div class="col-sm">
                    <small><label for="hours">Hours</label></small>
                    <input class="form-control" type="number" min="0" max="23" id="hours" asp-for="Hours" value="0" name="Hours" required>
                </div>
                <div class="col-sm">
                    <small><label for="minutes">Minutes</label></small>
                    <input class="form-control" type="number" min="0" max="59" id="minutes" asp-for="Minutes" value="1" name="Minutes" required>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Label">Label:</label>
                <input class="form-control" type="text" id="label" asp-for="Label" value="" name="Label" required>
            </div>
            <div class="form-group">
                <label asp-for="Tags">Tags:</label>
                <input class="form-control" asp-for="Tags" typeof="text" id="tags" name="Tags">
                <small>Add tags seperated by a comma</small>
            </div>
            <div style="width: 100%">
                <button class="btn btn-dark" style="margin-left: 70%; margin-right: 0; width: 30%" type="submit" id="submitButton">Create Website Record</button>
            </div>
        </form>
    </div>
</div>

<hr/>

<div class="list">
    <h3>List of current Website Records</h3>
        <table class="table table-striped" id="update">
            <tr>
                <td>Url</td>
                <td>Regex</td>
                <td>Periodicity</td>
                <td>Label</td>
                <td>Time of last executions</td>
                <td>Status of last executions</td>
                <td>Tags</td>
                <td>Crawl now</td>
            </tr>
        @{ int i = 0; }
            @foreach (WebsiteRecord record in ViewBag.WRList) {
                <tr>
                    <td>@record.Url</td>
                    <td>@record.Regex</td>
                    <td>@record.Days.ToString()d @record.Hours.ToString()h @record.Minutes.ToString()m</td>
                    <td id="ExecutionTime@(record.Id)"></td>
                    <td id="ExecutionStatus@(record.Id)"></td>
                    <td>@record.Label</td>
                    <td>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#Tags@(i)" aria-expanded="false" aria-controls="Tags@(i)">Show Tags</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button">Start New Execution</button>
                    </td>
                </tr>
                <tr class="collapse" id="Tags@(i)">
                    <td colspan="8"> Tags:
                        @for (int j = 0; j < record.TagsArray.Length; j++) {
                            @(record.TagsArray[j])
                            @if (j + 1 != record.TagsArray.Length) {
                                @(", ")
                            }
                        }
                    </td>
                </tr>
                i++;
            }
        </table>
</div>

<h2>Visualisation</h2>

<svelte-app></svelte-app>
