@model WebCrawler.Models.WebsiteRecord
@{
    ViewData["Title"] = "Home Page";
    ViewData["CurrentGrafIndex"] = 0;

    void addTag(){

    }
}

<div class="form">
    
    <h3>Use this form to add new website records.</h3>

    <form asp-controller="Home" asp-action="AddRecord" method="post">
        <label asp-for="Url">Page URL:</label><br>
        <input asp-for="Url" placeholder="https://example.com" id="url" name="Url"><br>

        <label asp-for="Regex">Boundary Regular Expresion:</label><br>
        <input id="regex" asp-for="Regex"><br><br>

        <label for="datetime">Periodicity(day,hour,minute):</label><br>
        <input type="number" min="0" max="1000" id="datetime" asp-for="Days" value="">
        <label>:</label>
        <input type="number" min="0" max="59" id="datetime" asp-for="Hours" value="">
        <label>:</label>
        <input type="number" min="0" max="59" id="datetime" asp-for="Minutes" value=""><br><br>

        <label asp-for="Label">Label:</label><br>
        <input type="text" id="label" asp-for="Label" value=""><br><br>

        <button action="@{addTag();}">Add new Tag</button>

        <button type="submit">Create Website Record</button>
    </form>

</div>

<div class="list">

    <h3>Here is the list of current Website Records.</h3>
    <table class="table table-striped">
        <tr>
            <td>Url</td>
            <td>Regex</td>
            <td>Periodicity</td>
            <td>Label</td>
        </tr>
        @foreach (WebsiteRecord record in ViewBag.WRList) {
            <tr>
                <td>@record.Url</td>
                <td>@record.Regex</td>
                <td>@record.Days.ToString()d @record.Hours.ToString()h @record.Minutes.ToString()m</td>
                <td>@record.Label</td>
            </tr>
        }
    </table>
    @{
        //The view must contain Label, Periodicity, Tags, 
        //time of last execution, the status of last execution.
    }
</div>

<div class="canvas">
    @{
        if (((List<WebsiteRecord>)ViewBag.WRList!).Count == 0) {
        
        }
    }
    <h3>No Website Records added yet.</h3>
    <h3>Currently displaying graf for @{
            //((string)(((List<WebsiteRecord>)ViewData["WRList"]!)[((int)ViewData["CurrentGrafIndex"]!)]).Name);
} </h3>
</div>

<!-- <svelte-app id="khalid" name="Khalid" test="Ahoj"></svelte-app>
<svelte-app id="paul" name="Paul"></svelte-app> -->
